.OverLayBox {		
width:100%;
height: 90px;
left: -1px;
top: -1px; 
background-color: #efeded; 
position: absolute;
border: 1px solid black;
}

.MenuBox {		
width:100%;
height: 60px;
left: -1px;
top: 60px; 
background-color: white; 
position: absolute;
border: 1px solid black;
box-shadow: -2px 5px 5px #888888;
}

.BackBox {		
width:100%;
height: 140%;
left: 0px;
top: 0px; 
background-color: #efeded; 
position: absolute;
}

.NextGen {	
font-family: Avantgarde;
left: 10px;
top: -10px;
font-size: 60px;
color: blue;
position: absolute;
}
